.kdve4/*
.vscode/*
meow.kdev4
bin/*
aname/aname.build/*
bark/bark.build/*
cpy/cpy.build/*
dip/dip.build/*
dutils/gendir.build/*
dutils/stenc.build/*
dutils/aexec.build/*
exo/exo.build/*
goblin/goblin.build/*
lt/lt.build/*
mkdip/mkdip.build/*
no/no.build/*
tap/tap.build/*
*/*.bin
*/*.exe
