name: build-meow

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: install_dep
      run: sudo apt install gccgo libstdc++-9-dev libboost-all-dev python-setuptools python3-setuptools python3 python-pip
    - name: install_py
      run: pip3 install nuitka termcolor
    - name: make
      run: make -j8
