name: build-meow

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: configure
      run: ./configure
    - name: install_dep
      run: sudo apt install libboost-all-dev python-setuputils python3 python-pip
    - name: install_py
      run: pip3 install nuitka termcolor
    - name: make
      run: make
